.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  padding: 2rem;
  max-width: 600px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
